---
---

h2, h3, h4, h5 {
  color: rgb(120, 180, 50);
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  top: 0px;
  margin-left: -250px;
  left: 250px;
  width: 200px;
  background: {{site.nav_color}};
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  font-size: large;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 40px;
}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: rgb(120, 180, 50);
  background: rgba(255,255,255,1.0);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
     margin: 0.5em 0.5em 0em 0em;
     font-weight: 600;
     position: relative;  
     font-size: 36px;
     line-height: 40px;
     padding: 15px 15px 15px 10px;
     color: rgb(120, 180, 50);
     box-shadow: 
         inset 0 0 0 1px rgba(53,86,129, 0.4), 
         inset 0 0 5px rgba(53,86,129, 0.5),
         inset -285px 0 35px white;
     border-radius: 0 10px 0 10px;
     background: #fff no-repeat center left;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 60px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}