<!-- Sidebar -->
<div id="sidebar-wrapper">
  <img src="/css/images/craftoe-logo-180.png" class="img-responsive"/>
  
  <nav class="cl-effect-1">
    <a href="/">{% include fa name="home fa-fw" size="2x" %} Home</a>
    <a href="/infra/syllabus.html">{% include fa name="book fa-fw" size="2x" %} Syllabus</a>
    <a href="/tutorials/">{% include fa name="puzzle-piece fa-fw" size="2x" %} Tutorials</a>
    <a href="/resources/" >{% include fa name="lightbulb-o fa-fw" size="2x" %} Resources</a>
    <!-- <a href="{{site.moodle}}">{% include fa name="sign-in fa-fw" size="2x" %} Moodle</a> -->
    <hr/>
    <a href="http://twitter.com/craftoe">{% include fa name="twitter fa-fw" size="2x" %} @craftoe</a>
  </nav>
    
</div>
