<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Craft of Electronics: {{page.title}}</title>
    {% include css.html %}
  </head>

  <body>
    {% include javascript-top.html %}
    {% include top-nav.html %}
      
    <div class="container" style="margin-bottom: 10px;">
      <div class="row">            
        <div class="col-md-12">
          {% unless page.hideTitle %}
            <h1>{{page.title}}</h1>
          {% endunless %}
          {% if page.tutorial %}
          <div class="row">
            <div class="col-md-9">
              {% include tutorial-nav %}
            </div>
            <div class="col-md-3">
              <img class="img-responsive pull-right" 
                 src="images/banner.png" />
             </div>
           </div>
          {% endif %}
          <div class="row top-buffer">
            <div class="col-md-12">
              <div id="assignmentduein"> </div>
              
              {{content}}
            </div>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
      {% include javascript-bottom.html %}
  </body>
</html>