<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.title}}</title>
    {% include css.html %}
  </head>

  <body>
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <img src="/css/images/craftoe-logo-180.png" class="img-responsive"/>
        
        {% include navbar.html %}
        
        <div class="well" style="margin:10px">
          Twitter: <a href="http://twitter.com/craftoe">@craftoe</a>
        </div>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            {{page.title}}
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          {{content}}
        </div>
      </div>
      {% include javascript-bottom.html %}
    </div>
  </body>
</html>